/* ==========================================================================
   RESPONSIVE
   ========================================================================== */
@media (min-width: 1441px) {
  .menu-bar {
    display: none;
  }
}

@media (max-width: 1440px) {
  .menu-bar {
    display: none;
  }
}
/* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */
/* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */

@media (max-width: 1024px) {
  .header {
    width: 90%;
  }

  .navigation-links {
    display: none;
  }
  .menu-bar {
    display: block;
    order: 1;
    max-width: 48px;
  }

  .logo {
    order: 2;
    max-width: 142px;
    width: 100%;
    margin: 0 auto !important;
    justify-content: center;
  }

  .header-buttons {
    order: 3;
    justify-content: flex-end;
  }

  .login-but {
    white-space: nowrap;
  }

  /* next */

  .travel {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .travel-image-container {
    order: 1;
    max-width: 772px;
    width: 100%;
    height: auto;
  }
  .travel-content {
    order: 2;
    max-width: 896px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
  }

  .travel-content h1 {
    font-family: CircularStd;
    font-size: 56px;
    line-height: 120%;
    font-weight: 700;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .travel-content p {
    width: 100%;
    margin-top: 45px;
  }

  .travel-content p:last-of-type {
    margin-top: 0;
  }

  /* NEXT */

  .destinations {
    width: 90%;
  }

  .section-header {
    flex-direction: column;
    margin-top: 223.62px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .sub-titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .sub-title {
    width: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .sub-titles h2 {
    font-size: 40px;
    width: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 64px;
  }

  .arrows {
    justify-content: center;
    width: 100%;
  }

  /* next */
  .card-wraps {
    max-width: 896px;
    width: 100%;
    gap: 31px;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .card {
    display: flex;
    flex-direction: column;
    max-width: 278px;
    width: 100%;
    text-align: left;
    height: auto;
  }

  .card-img-wrapper {
    height: auto;
    width: 100%;
  }

  .card-img-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }

  .img-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px 32px 0 32px;
    width: 100%;
    height: auto;
  }

  .img-info h3 {
    order: 2;
    margin: 0 0 16px 0;
    width: 100%;
    height: auto;
    text-align: left;
    display: block;
  }

  .price {
    order: 1;
    text-align: left;
    margin: 0 0 8px 0;
    display: block;
  }

  .rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 32px;
    height: auto;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  .location {
    margin: 0 0 32px 0;
    text-align: left;
  }
  .star1,
  .star2,
  .star3 {
    margin: 0;
    max-width: 66px;
    width: 100%;
    display: block;
    height: auto;
    padding-bottom: 32px;
  }

  /* NEXT travel point*/

  .travel-wraper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .tp-image-container {
    padding-top: 64px;
    margin-bottom: 64px;
    max-width: 871px;
    width: 100%;
    height: auto;
  }

  .tp-image {
    width: 100%;
  }
  /*  */

  .tp-content-container {
    max-width: 832px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .div-tp-content {
    max-width: 832px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-bottom: 32px;
  }

  .tp-sub-title {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    font-family: CircularStd;
    letter-spacing: 20%;
  }

  .div-tp-content h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    font-family: CircularStd;
    max-width: 832px;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }

  .content-descr {
    max-width: 832px;
    width: 100%;
    margin-bottom: 0;
  }

  /*  */

  .boxes {
    max-width: 832px;
    width: 100%;
    display: flex;
  }

  .row1,
  .row2 {
    display: flex;
    width: 100%;
  }

  .value {
    max-width: 400px;
    width: 100%;
  }

  .box2 {
    max-width: 400px;
    width: 100%;
  }

  /* next section */

  .key-features {
    max-width: 896px;
    width: 100%;
  }

  .feature-content {
    width: 100%;
    padding: 64px 32px;
  }

  .features-sub-title {
    justify-content: center;
    display: flex;
  }

  .feature-content h2 {
    display: flex;
    justify-content: center;
  }

  .features-descr {
    text-align: center;
    width: 95%;
  }
  /*  */
  .features-list {
    width: 100%;
  }

  .feature-item {
    max-width: 832px;
    width: 100%;
  }

  /* FOOTER SECTION */
  .footer {
    flex-direction: column;
  }

  .footer-brand {
    max-width: 897px;
    width: 100%;
    padding: 64px 0 0 0;
    margin-left: 0;
  }
  .footer-navigation {
    max-width: 897px;
    width: 100%;
    margin-left: 0;
  }
}

/* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */
/* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */

@media (max-width: 430px) {
  .navigation-links,
  .header-buttons {
    display: none;
  }

  .header {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    order: 1;
    display: flex;
    justify-content: flex-start;
    max-width: 142px;
    width: auto;
    margin: 0 !important;
    gap: 0;
  }

  .menu-bar {
    display: flex;
    order: 2;
  }

  .logo-icon,
  .logo-text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
  }

  /* NEXT */

  .travel-image-container {
    max-width: 396.29px;
    width: 100%;
    height: auto;
  }
  .travel-content {
    order: 2;
    max-width: 398px;
    width: 100%;
    height: auto;
    margin-top: 32px;
  }

  .travel-content h1 {
    font-family: CircularStd;
    font-size: 40px;
    line-height: 120%;
    font-weight: 700;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .travel-content p {
    width: 100%;
    font-size: 16px;
    margin-top: 24px;
  }

  .travel-content p:last-of-type {
    margin-top: 0;
  }

  .clicks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .get-started {
    width: 100%;
    height: 65px;
  }

  .logo-play-div {
    margin-top: 24px;
    width: 100%;
    height: 72px;
  }

  /* NEXT */

  .destinations {
    max-width: 398px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 0;
  }
  /* NEXT */

  .sub-titles {
    max-width: 398px;
    width: 100%;
  }

  .sub-title {
    font-size: 16px;
    width: auto;
  }

  .sub-titles h2 {
    font-size: 32px;
  }

  .arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 398px;
  }

  .white-left-circle,
  .black-circle {
    width: 64px;
    height: 64px;
  }

  .left-arrow,
  .right-arrow {
    width: 15.5px;
    height: 15.5px;
  }

  .card-wraps {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .card {
    max-width: 398px;
    width: 100%;
    height: auto;
  }

  .card-img-wrapper {
    height: auto;
    width: 100%;
  }

  .card-img-wrapper img {
    width: 100%;
    height: 100%;
  }

  .img-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .img-info h3 {
    order: 2;
    margin: 0 0 16px 0;
    width: 100%;
    text-align: left;
    display: block;
  }

  /* NEXT SECTION */

  .travel-wraper {
    max-width: 398px;
    width: 90%;
    margin: 0 auto;
  }

  .tp-image-container {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 64px;
    height: auto;
  }

  .tp-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  /*  */
  .div-tp-content {
    width: 100%;
    text-align: center;
  }

  .tp-sub-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    font-family: CircularStd;
    letter-spacing: 20%;
  }

  .div-tp-content h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    font-family: CircularStd;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .content-descr {
    width: 99%;
    font-size: 16px;
  }

  .row1,
  .row2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .value,
  .box2 {
    width: 100%;
    max-width: 340px;
  }

  /* NEXT - KEY FEATURES */

  .key-features {
    max-width: 398px;
    width: 100%;
    margin-top: 70.51px;
  }

  .feature-content {
    width: 90%;
    /* padding: 32px 32 0 32px; */
    margin-bottom: 32px;
  }

  .features-sub-title {
    font-size: 16px;
    width: 100%;
  }

  .feature-content h2 {
    font-size: 32px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .features-descr {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }

  /*  */
  .features-list {
    max-width: 398px;
    width: 100%;
  }

  .feature-item {
    max-width: 334px;
    width: 100%;
    flex-direction: column;
    padding: 32px 32px 0 32px;
    align-items: flex-start;
  }

  .icon-box-css {
    width: 100px;
    height: 100px;
    margin-left: 0;
    margin-bottom: 32px;
  }

  /* FOOTER SECTION */

  .footer-descr {
    font-size: 16px;
  }

  .footer-brand {
    max-width: 398px;
    width: 100%;
    margin-left: 0;
    padding-left: 16px;
  }

  .footer-navigation {
    max-width: 398px;
    width: 100%;
    margin-left: 0;
    padding-left: 16px;
    flex-direction: column;
  }

  .footer-column ul {
    display: none;
  }

  .footer-column h3 {
    margin-bottom: 64px;
  }
}
