.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    margin: 0 auto;
    /* max-width: 1184px; */
    width: 90%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 142px;
    height: 40px;
}

.logo-text {
    font-size: 24px;
    color: #191825;
    font-family: CircularStd;
    font-weight: 900;
}

/* .navigation-links {
    width: 428px;
    height: 17px;
} */

.nav-links {
    display: flex;
    font-family: CircularStd;
    font-weight: 700;
    font-size: 14px;
    color: #19182580 !important;
    width: 428px;
    justify-content: space-between;
}

.nav-links a {
        color: #19182580 !important;
}

.nav-links li:first-child a {
    color: #222831 !important;
     
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}



.login-but {
    color: #222831 !important;
    font-family: CircularStd;
    font-weight: 700;
    font-size: 14px;
}

.signup-but {
    background-color: #5D50C6;
    border-radius: 100px;
    width: 115px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    
}

.menu-bar {
    width: 48px;
    height: 48px;
}


/* NEXT SECTION */
/* NEXT SECTION */

.travel {
    width: 1184px;
    display: flex;
    padding: 64px 0;
    margin: 0 auto;
}

.travel-content {
    width: 412px;
    height: 478px;
}

.travel-content h1 {
    font-size: 80px;
    font-weight: 400;
    font-family: "Abel", sans-serif;
    width: 412px;
    margin-bottom: 43px;
}
.highlight {
    color: #F85E9F;
}

.travel-content p {
    color: #19182580;
    font-size: 18px;
    line-height: 160%;
    font-weight: 400;
      font-family: "Inter", sans-serif;
}

.clicks {
    margin-top: 43px;
    width: 338px;
    display: flex;
    gap: 16px;
}

.get-started {
    color: #EEEEEE;
    background-color: #5D50C6;
    border-radius: 100px;
    width: 141px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: 14px;
        font-family: CircularStd;

}

.logo-play-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181px;
    height: 56px;
    gap: 8px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 100px;
}
.play-logo {
    width: 24px;
    height: 24px;
}

.watch-demo {
    font-size: 14px;
    font-weight: 700;
    color: #222831;
        font-family: CircularStd;

}

.travel-image-container {
    width: 772px;
    height: 287.38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.world-map {
    width: 100%;
}



/* ==========================================================================
   RESPONSIVE
   ========================================================================== */
@media (min-width: 1440px) {
    .menu-bar {
        display: none;
    }

}

@media (max-width: 1440px) {
    .menu-bar {
        width: 100%;
        display: none;
    }

}

@media (max-width: 1024px) {
    .menu-bar {
        display: flex;
        width: 100%;
    }

}


@media (max-width: 430px) {
    .navigation-links, .header-buttons {
        display: none;
    }


}






