.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  margin: 0 auto;
  max-width: 1184px;
  width: 90%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 142px;
  height: 40px;
}

.logo-text {
  font-size: 24px;
  color: #191825;
  font-family: CircularStd;
  font-weight: 900;
}

.nav-links {
  display: flex;
  font-family: CircularStd;
  font-weight: 700;
  font-size: 14px;
  color: #19182580 !important;
  width: 428px;
  justify-content: space-between;
}

.nav-links a {
  color: #19182580 !important;
}

.nav-links li:first-child a {
  color: #222831 !important;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.login-but {
  color: #222831 !important;
  font-family: CircularStd;
  font-weight: 700;
  font-size: 14px;
}

.signup-but {
  background-color: #5d50c6;
  border-radius: 100px;
  width: 115px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  font-family: CircularStd;
  font-size: 14px;
  font-weight: 700;
}

.menu-bar {
  width: 48px;
  height: 48px;
}

/* NEXT SECTION */
/* NEXT SECTION */

.travel {
  width: 1184px;
  display: flex;
  padding: 64px 0;
  margin: 0 auto;
}

.travel-content {
  width: 412px;
  height: 478px;
}

.travel-content h1 {
  font-size: 80px;
  font-weight: 400;
  font-family: "Abel", sans-serif;
  width: 412px;
  margin-bottom: 43px;
}
.highlight {
  color: #f85e9f;
}

.travel-content p {
  color: #19182580;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.clicks {
  margin-top: 43px;
  width: 338px;
  display: flex;
  gap: 16px;
}

.get-started {
  color: #eeeeee;
  background-color: #5d50c6;
  border-radius: 100px;
  width: 141px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: CircularStd;
}

.logo-play-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 181px;
  height: 56px;
  gap: 8px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 100px;
}
.play-logo {
  width: 24px;
  height: 24px;
}

.watch-demo {
  font-size: 14px;
  font-weight: 700;
  color: #222831;
  font-family: CircularStd;
}

.travel-image-container {
  width: 772px;
  height: 287.38;
  display: flex;
  justify-content: center;
  align-items: center;
}

.world-map {
  width: 100%;
}

/* NEXT SECTION */
/* NEXT SECTION */

.destinations {
  margin: 0 auto;
  width: 1184px;
}

.section-header {
  width: 1184px;
  display: flex;
  margin-top: 197px;
}

.sub-titles {
  width: 952px;
}

.sub-title {
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
  color: #f85e9f;
  padding-top: 65.5px;
  letter-spacing: 20%;
}

.sub-titles h2 {
  color: #191825;
  font-family: CircularStd;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 16px;
}

.arrows {
  width: 232px;
  display: flex;
  gap: 32px;
}

.white-left-circle {
  border: 1px solid #1918251a;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.black-circle {
  background-color: #5d50c6;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-wraps {
  margin-top: 64px;
  margin-bottom: 64px;
  width: 1184px;
  display: flex;
  gap: 32px;
}

.card {
  width: 373.33px;
  background-color: whitesmoke;
  border-radius: 32px;
}

.card-img-wrapper {
  border-top-right-radius: 32px;
}

.img-info {
  width: 309.33px;
  height: 101px;
  padding: 32px 0;
  margin: 0 auto;
  display: flex;
}

.img-info h3 {
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
  color: #191825;
  width: 228.33px;
  height: 225px;
}

.price {
  color: #f85e9f;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
  width: 81px;
}

.location {
  background-color: whitesmoke;
  color: #191825bf;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  font-family: CircularStd;
  margin-bottom: 32px;
}

.rating {
  background-color: whitesmoke;
  width: 309.33px;
  margin: 0 auto;
}

.star1,
.star2,
.star3 {
  margin-bottom: 32px;
}

/* NEXT SECTION */
/* NEXT SECTION */
/* NEXT SECTION */

.travel-wraper {
  display: flex;
  justify-content: center;
  width: 1312px;
}

.tp-content-container {
  width: 441px;
}

.tp-image-container {
  width: 871px;
  height: 697px;
  padding: 64px 0;
}

.tp-image {
  width: 100%;
}

.div-tp-content {
  width: 441px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  padding-top: 94px;
}

.tp-sub-title {
  color: #f85e9f;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  font-family: "Abel", sans-serif;
  letter-spacing: 20%;
  display: block;
  margin-bottom: 16px;
}

.div-tp-content h2 {
  color: #191825;
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
  font-family: "Abel", sans-serif;
  margin-bottom: 32px;
  width: 441px;
}

.content-descr {
  width: 441px;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #19182580;
  font-family: "Inter", sans-serif;
}

.boxes {
  display: flex;
  flex-direction: column;
  width: 441px;
}

.row1,
.row2 {
  display: flex;
  column-gap: 32px;
}

.value {
  width: 204.5px;
  height: 151px;
  margin-bottom: 32px;
  border: 1px solid #1918251a;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.value h3 {
  color: #ff5722;
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
}

.value p {
  color: #191825;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.box2 {
  width: 204.5px;
  height: 151px;
  border: 1px solid #1918251a;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box2 h3 {
  color: #ff5722;
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
}

.box2 p {
  color: #191825;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

/* NEXT SECTION */
/* NEXT SECTION */
/* NEXT SECTION 
KEY FEATURES*/

.key-features {
  width: 1312px;
  margin-top: 73px;
  margin: 0 auto;
}

.feature-content {
  padding: 64px 0;
  width: 1312px;
}

.features-sub-title {
  color: #f85e9f;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
  letter-spacing: 20%;
  display: block;
  margin-bottom: 16px;
}

.feature-content h2 {
  color: #191825;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
  margin-bottom: 32px;
}

.features-descr {
  color: #19182580;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 980px;
}

.features-list {
  width: 1312px;
  display: flex;
  flex-direction: column;
}

.feature-item {
  padding: 32px 0 32px 32px;
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.feature-item img {
  width: 100px;
  height: 100px;
}

.item-divs h3 {
  color: #191825;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
}

.item-divs p {
  color: #19182580;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

/* NEXT SECTION */
/* NEXT SECTION */
/* NEXT SECTION 
F O O T E R */

.footer {
  width: 1184px;
  display: flex;
  margin: 0 auto;
  margin-top: 99px;
}

.footer-brand {
  width: 540px;
  padding-top: 64px;
  padding-bottom: 91px;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 142px;
  height: 40px;
  margin-bottom: 32px;
}

.footer-descr {
  color: #19182580;
  font-size: 23px;
  font-weight: 400;
  line-height: 160%;
  font-family: "Abel", sans-serif;
  margin-bottom: 64px;
}
.socmedia {
  width: 32px;
  height: 32px;
}
.social-links {
  width: 160px;
  display: flex;
  gap: 32px;
}

.footer-navigation {
  width: 560px;
  display: flex;
  justify-content: space-between;
  /* gap: 32px; */
  margin-left: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer-column {
  width: 165.33px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-column h3 {
  color: #191825;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
}

.footer-column ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #191825bf;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
}

.footer-column ul a {
  color: #191825bf;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

/* ==========================================================================
   RESPONSIVE
   ========================================================================== */
@media (min-width: 1440px) {
  .menu-bar {
    display: none;
  }
}

@media (max-width: 1440px) {
  .menu-bar {
    width: 100%;
    display: none;
  }
}
/* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */
/* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */

@media (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .navigation-links {
    display: none;
  }
  .menu-bar {
    display: block;
    order: 1;
    max-width: 48px;
  }

  .logo {
    order: 2;
    width: 100%;
    display: flex;
    margin: 0 auto !important;
    justify-content: center;
  }

  .header-buttons {
    order: 3;
    justify-content: flex-end;
  }

  .login-but {
    white-space: nowrap;
  }

  /* next */

  .travel {
    width: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .travel-image-container {
    order: 1;
    width: 100%;
    max-width: 772px;
    height: auto;
  }
  .travel-content {
    order: 2;
    max-width: 600px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
  }

  .travel-content h1 {
    font-family: CircularStd;
    font-size: 56px;
    line-height: 120%;
    font-weight: 700;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .travel-content p {
    max-width: 445px;
    width: 100%;
    margin-top: 45px;
  }

  .travel-content p:last-of-type {
    margin-top: 0;
  }

  /* NEXT */

  .destinations {
    width: 100%;
    max-width: 896px;
    margin: 0 auto;
  }

  .section-header {
    display: flex;
    flex-direction: column;
    margin-top: 223.62px;
    max-width: 896px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .sub-titles {
    max-width: 896px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .sub-title {
    width: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .sub-titles h2 {
    font-size: 40px;
    width: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 64px;
  }

  .arrows {
    justify-content: center;
    width: 100%;
  }

  /* next */
  .card-wraps {
    max-width: 896px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 31px;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    height: auto;
  }

  .card-img-wrapper {
    height: 314px;
    width: 278px;
  }

  .card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }

  .img-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px 32px 0 32px;
    width: 100%;
    height: auto;
  }

  .img-info h3 {
    order: 2;
    margin: 0 0 16px 0;
    width: 100%;
    height: auto;
    text-align: left;
    display: block;
  }

  .price {
    order: 1;
    text-align: left;
    margin: 0 0 8px 0;
    display: block;
  }

  .rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 32px;
    height: auto;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  .location {
    margin: 0 0 32px 0;
    text-align: left;
  }
  .star1,
  .star2,
  .star3 {
    margin: 0;
    max-width: 66px;
    width: 100%;
    display: block;
    height: auto;
    padding-bottom: 32px;
  }

  /* NEXT travel point*/

  .travel-wraper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
  }

  .tp-image-container {
    padding-top: 64px;
    margin-bottom: 64px;
  }

  .tp-image {
    width: 100%;
  }
  /*  */

  .tp-content-container {
    max-width: 832px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .div-tp-content {
    max-width: 832px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .tp-sub-title {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    font-family: CircularStd;
    letter-spacing: 20%;
  }

  .div-tp-content h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    font-family: CircularStd;
    max-width: 832px;
    width: 100%;
    text-align: center;
  }

  .content-descr {
    width: 99%;
  }

  /*  */

  .boxes {
    width: 832px;
    display: flex;
  }

  .row1,
  .row2 {
    display: flex;
    width: 832px;
  }

  .value {
    width: 400px;
  }

  .box2 {
    width: 400px;
  }
}

/* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */
/* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */ /* NEXT */

@media (max-width: 430px) {
  .navigation-links,
  .header-buttons {
    display: none;
  }

  .logo {
    order: 1;
    display: block;
  }

  .menu-bar {
    display: block;
    order: 2;
  }

  .logo-icon,
  .logo-text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
  }

  /* NEXT */

  /* .travel {
    width: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  } */

  .travel-image-container {
    /* order: 1;
    width: 100%; */
    max-width: 396.29px;
    height: auto;
  }
  .travel-content {
    order: 2;
    max-width: 398px;
    width: 100%;
    height: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 32px;
  }

  .travel-content h1 {
    font-family: CircularStd;
    font-size: 40px;
    line-height: 120%;
    font-weight: 700;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .travel-content p {
    max-width: 398px;
    width: 100%;
    font-size: 16px;
    margin-top: 24px;
  }

  .travel-content p:last-of-type {
    margin-top: 0;
  }

  .clicks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 398px;
  }

  .get-started {
    width: 100%;
    height: 65px;
  }

  .logo-play-div {
    margin-top: 24px;
    width: 100%;
    height: 72px;
  }

  /* NEXT */

  .destinations {
    max-width: 398px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 0;
  }
  /* NEXT */

  .sub-titles {
    max-width: 398px;
    width: 100%;
  }

  .sub-title {
    font-size: 16px;
    width: auto;
  }

  .sub-titles h2 {
    font-size: 32px;
  }

  .arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 398px;
  }

  .white-left-circle,
  .black-circle {
    width: 64px;
    height: 64px;
  }

  .left-arrow,
  .right-arrow {
    width: 15.5px;
    height: 15.5px;
  }

  .card-wraps {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .card {
    width: 398px;
    height: 575px;
  }

  .card-img-wrapper {
    height: 314px;
    width: 100%;
  }

  .card-img-wrapper img {
    width: 100%;
    height: 100%;
  }

  .img-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .img-info h3 {
    order: 2;
    margin: 0 0 16px 0;
    width: 100%;
    text-align: left;
    display: block;
  }
}
