 * {
  outline: 1px solid red;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  margin: 0 auto;
  max-width: 1184px;
  width: 90%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 142px;
  height: 40px;
}

.logo-text {
  font-size: 24px;
  color: #191825;
  font-family: CircularStd;
  font-weight: 900;
}

.navigation-links {
  max-width: 428px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  max-width: 428px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: flex;
  font-family: CircularStd;
  font-weight: 700;
  font-size: 14px;
  color: #19182580 !important;
  
}

.nav-links a {
  color: #19182580 !important;
}

.nav-links li:first-child a {
  color: #222831 !important;
}

.header-buttons {
  max-width: 220px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.login-but {
  color: #222831 !important;
  font-family: CircularStd;
  font-weight: 700;
  font-size: 14px;
}

.signup-but {
  background-color: #5d50c6;
  border-radius: 100px;
  width: 115px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  font-family: CircularStd;
  font-size: 14px;
  font-weight: 700;
}

.menu-bar {
  width: 48px;
  height: 48px;
}

/* NEXT SECTION */
/* NEXT SECTION */

.travel {
  max-width: 1184px;
  width: 90%;
  display: flex;
  padding: 64px 0;
  margin: 0 auto;
}

.travel-content {
  width: 100%;
  max-width: 412px;
  height: auto;
}

.travel-content h1 {
  font-size: 80px;
  font-weight: 400;
  font-family: "Abel", sans-serif;
  width: 100%;
  margin-bottom: 43px;
}
.highlight {
  color: #f85e9f;
}

.travel-content p {
  color: #19182580;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}


.travel-image-container {
  max-width: 772px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.world-map {
  width: 100%;
}



.clicks {
  margin-top: 43px;
  max-width: 338px;
  width: 100%;
  display: flex;
  gap: 16px;
}

.get-started {
  color: #eeeeee;
  background-color: #5d50c6;
  border-radius: 100px;
  width: 141px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: CircularStd;
}

.logo-play-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 181px;
  height: 56px;
  gap: 8px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 100px;
}
.play-logo {
  width: 24px;
  height: 24px;
}

.watch-demo {
  font-size: 14px;
  font-weight: 700;
  color: #222831;
  font-family: CircularStd;
}



/* NEXT SECTION */
/* NEXT SECTION */

.destinations {
  margin: 0 auto;
  max-width: 1184px;
  width: 90%;
}

.section-header {
  width: 100%;
  display: flex;
  margin-top: 197px;
}

.sub-titles {
  max-width: 952px;
  width: 100%;
}

.sub-title {
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
  color: #f85e9f;
  padding-top: 65.5px;
  letter-spacing: 20%;
}

.sub-titles h2 {
  color: #191825;
  font-family: CircularStd;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 16px;
}

.arrows {
  width: 232px;
  display: flex;
  gap: 32px;
}

.white-left-circle {
  border: 1px solid #1918251a;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.black-circle {
  background-color: #5d50c6;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-wraps {
  margin-top: 64px;
  margin-bottom: 64px;
  width: 100%;
  display: flex;
  gap: 32px;
}

.card {
  width: 100%;
  background-color: whitesmoke;
  border-radius: 32px;
}

.card-img-wrapper {
  border-top-right-radius: 32px;
  width: 100%;
}
.card-img-wrapper img {
  width: 100%;
  height: auto;
}

.img-info {
  max-width: 309.33px;
  width: 100%;
  min-height: 101px;
  height: auto;
  padding: 32px 0;
  margin: 0 auto;
  display: flex;
}

.img-info h3 {
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
  color: #191825;
  width: 100%;
}

.price {
  color: #f85e9f;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
  width: 81px;
}

.location {
  background-color: whitesmoke;
  color: #191825bf;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  font-family: CircularStd;
  margin-bottom: 32px;
}

.rating {
  background-color: whitesmoke;
  width: 100%;
  margin: 0 auto;
}

.star1,
.star2,
.star3 {
  margin-bottom: 32px;
}

/* NEXT SECTION */
/* NEXT SECTION */
/* NEXT SECTION */

.travel-point {
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
}

.travel-wraper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tp-content-container {
  max-width: 441px;
  width: 100%;
}

.tp-image-container {
  max-width: 871px;
  width: 100%;
  min-height: 697px;
  height: auto;
  padding: 64px 0;
}

.tp-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div-tp-content {
  max-width: 441px;
  width: 100%;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  padding-top: 94px;
}

.tp-sub-title {
  color: #f85e9f;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  font-family: "Abel", sans-serif;
  letter-spacing: 20%;
  display: block;
  margin-bottom: 16px;
}

.div-tp-content h2 {
  color: #191825;
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
  font-family: "Abel", sans-serif;
  margin-bottom: 32px;
  max-width: 441px;
  width: 100%;
}

.content-descr {
  max-width: 441px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #19182580;
  font-family: "Inter", sans-serif;
}

.boxes {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.row1,
.row2 {
  display: flex;
  column-gap: 32px;
  row-gap: 32px;
  width: 100%;
  justify-content: space-between;
}

.value {
  width: 100%;
  min-height: 151px;
  border: 1px solid #1918251a;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.value h3 {
  color: #ff5722;
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
}

.value p {
  color: #191825;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.box2 {
  width: 100%;
  border: 1px solid #1918251a;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box2 h3 {
  color: #ff5722;
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
}

.box2 p {
  color: #191825;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

/* NEXT SECTION */
/* NEXT SECTION */
/* NEXT SECTION 
KEY FEATURES*/

.key-features {
  max-width: 1312px;
  width: 90%;
  margin-top: 73px;
  margin: 0 auto;
}

.feature-content {
  padding: 64px 0;
  width: 100%;
}

.features-sub-title {
  color: #f85e9f;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
  letter-spacing: 20%;
  display: block;
  margin-bottom: 16px;
}

.feature-content h2 {
  color: #191825;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
  margin-bottom: 32px;
}

.features-descr {
  color: #19182580;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 100%;
}
/*  */

.features-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.feature-item {
  padding: 32px 0 32px 32px;
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.feature-1, .feature-2, .feature-3 {
  color: white;
  width: 48px;
  height: 48px;
}



.icon-box-css {
  width: 100px;
  height: 100px;
  background-color: #ff5722;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css2 {
  background-color: #FACD49;
}

.css3 {
  background-color: #F85E9F;
}


.item-divs h3 {
  color: #191825;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
  margin-bottom: 8px;
}

.item-divs p {
  color: #19182580;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

/* NEXT SECTION */
/* NEXT SECTION */
/* NEXT SECTION 
F O O T E R */

.footer {
  max-width: 1184px;
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 99px;
}

.footer-brand {
  max-width: 540px;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 91px;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 142px;
  height: 40px;
  margin-bottom: 32px;
}

.footer-descr {
  color: #19182580;
  font-size: 23px;
  font-weight: 400;
  line-height: 160%;
  font-family: "Abel", sans-serif;
  margin-bottom: 64px;
}
.socmedia {
  width: 32px;
  height: 32px;
  background-color: #5d50c6;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.social-links {
  width: 160px;
  display: flex;
  gap: 32px;
}

.facebook,
.twitter,
.instagram {
  color: white;
}

.footer-navigation {
  max-width: 560px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 32px; */
  margin-left: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer-column {
  max-width: 165.33px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-column h3 {
  color: #191825;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: CircularStd;
}

.footer-column ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #191825bf;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
}

.footer-column ul a {
  color: #191825bf;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

/* ==========================================================================
   RESPONSIVE
   ========================================================================== */
